---
import { Image } from "astro:assets";

interface Props {
  image: any;
  alt: string;
  title: string;
  excerpt: string;
  link: string;
  class?: any;
}
const {
  image,
  alt,
  title,
  excerpt,
  link,
  class: className,
  ...rest
}: Props = Astro.props;
---

<div class={`${className} relative w-full h-full object-cover group border-1`}>
  <Image class="main-img w-full h-full object-cover" src={image} alt={alt} />
  <div
    class="overlay absolute inset-0 bg-[var(--col-text)] opacity-0 group-hover:opacity-75 transition-opacity duration-300"
  >
    <a class="flex flex-col w-full h-full justify-center items-center text-center p-5 text-[var(--col-bg)]" href={link}>
      <h2>{title}</h2>
      <p>{excerpt}</p>
    </a>
  </div>
</div>
